<div class='row'>
  <% items.each do |item| %>
    <div class='col-md-3 col-sm-4 col-xs-12 item-box'>
      <%= image_tag('sample_item.jpg', size: '250x260', alt: 'Item') %>
      Name: <%= item.name %>
      <div class='row'>
        <div class='col-sm-6'>
          Price: <%= item.price %><br/>
          Available: <%= item.quantity %>
        </div>
        <div class='col-sm-6'>
          <% if current_user.cart.items.include?(item) %>
            <%= link_to "Remove", 'javascript:void(0)', method: :post, class: 'btn btn-default' %>
          <% else %>
            <%= link_to "Add to Cart", add_item_carts_path(item_id: item.id, price: item.price), method: :post, class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
      <hr/>
    </div>
  <% end %>
</div>
