<%= link_to "Continue shopping", user_dashboard_path(), class: 'btn btn-success pull-right' %>
<% if @cart_items.count > 0 %>
  <%= link_to "Order Items", orders_path(), method: :post, class: 'btn btn-success pull-right order-btn' %>
<% end %>

<h4>Details of the Cart (<%= @cart_items.count %>)</h4>
<hr/>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name of the Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </tr>
  </thead>

  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.name %></td>
      <td>$<%= cart_item.price %></td>
      <td><%= cart_item.quantity %></td>
      <td>$<%= cart_item.sub_total %></td>
    </tr>
    <tr>
      <%= form_for cart_item, url: cart_update_quantity_path(cart_item.id), method: :put do |f| %>
        <td></td>
        <td></td>
        <td><%= f.text_field :quantity, type: "number", value: cart_item.quantity, class: 'form-control', placeholder: 'No of the Items', required: true, pattern: '^\d+$' %></td>
        <td><%= f.submit 'Update', class: "form-control btn btn-success" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
