<%= link_to "Continue shopping", user_dashboard_path(), class: 'btn btn-success pull-right' %>
<h4>Details of the Cart </h4>
<hr/>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Name of the Item</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Sub Total</th>
    </tr>
  </thead>

  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.name %></td>
      <td>$<%= cart_item.price %></td>
      <td><%= cart_item.quantity %></td>
      <td>$<%= cart_item.sub_total %></td>
    </tr>
  <% end %>
</table>
