<!DOCTYPE html>
<html>
  <head>
    <title>BeautifulBasket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main_container">
      <div id="body_container">
        <%= render 'shared/header' %>
        <div class="container">
          <%= render 'shared/flash_messages' %>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>
